*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    background-color: lightblue;
    /*display: flex;*/
}

#left {
    background-color: lightcoral;
    max-width: 400px;
    min-height: 100vh;
    float: left;
}

#right {
    background-color:lightgreen;
    max-width: 400px;
    min-height: 100vh;
    float: right;

}
